@import url(//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas);

@font-face {
  font-family: "Consolas";
  src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
  src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas")
      format("svg");
}

body {
  /* background: url('../images/bg1.jpg') no-repeat center center fixed; */
  background-color: black;
  font-family: 'Consolas';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
